

h1{
  font-size: 50px;
  margin: 0;
  padding: 10px 0 0 36%;
}


.home{
  margin: 0;
  padding: 0;
  background-image: url('https://images.unsplash.com/photo-1525974160448-038dacadcc71?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2274&q=80');
  background-size: cover;
  background-position: center;
  height: 100vh;
  
}
.app {
  padding-top: 0px; /* Adjust this value according to your navbar height */
}
.navbar li{
    display: inline-block;
    padding-right: 10px;
    margin: 0;
}
.navbar {
  position: fixed;
  background-color: transparent;
  top: 0;
  right: 0;
  left: 0;

  z-index: 999;
  
}

.home h1{
  color: blue;
  display: block;
}
.homeP{
  
  display: inline-block;
   padding-top: 40vh; /* Adjust this value to position it just below .slider */
  
   font-size: 15px;
    color: wheat;
    width: 50%;
    
    padding-left: 25%;
    
  
}

.contact h1{
  color: red;
  
}

.about h1{
  color: green;
  
}
.navbar ul{
  margin: 0;
  padding-left: 0;
}

.slider{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  height: 300px;
  width: 500px;
  
}
.image{
 width: 500px;
 height: 300px;
 border-radius: 10px;
}

.right-arrow{
  position: absolute;
  right: 1rem;
  font-size: 3rem;
  color: white;
  opacity: 0.5;
  cursor: pointer;
  z-index: 10;
  user-select: none;
}
.right-arrow:hover{
  opacity: 1;
}
.left-arrow:hover{
  opacity: 1;
}
.left-arrow{
  
  font-size: 3rem;
  top: 100px;
  color: white;
  opacity: 0.5;
  cursor: pointer;
  z-index: 10;
  user-select: none;
}
